* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #667eea;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  max-width: 100%;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 18px;
  padding: 15px 10px;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  overflow-y: auto;
  height: 100%;
  font-family: "Courier New", monospace;
}

.result-container .copy-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
}

.result-container .copy-btn:hover {
  color: #3a7bd5;
}

.settings {
  margin-bottom: 20px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.setting label {
  font-size: 16px;
}

.setting input[type="number"] {
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  text-align: center;
}

.setting input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn {
  width: 100%;
  background-color: #3a7bd5;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-top: 10px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #2a6ac5;
}

.copied {
  background-color: rgba(0, 255, 0, 0.2);
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
}
